{% extends 'books/layout.html' %}
{% block body %}

<div class="container my-5">

  <!-- ================= PAGE HEADER ================= -->
  <div class="mb-3">

    <h3>Browse Books</h3>

    <!-- CATEGORY INDICATOR  -->
    {% if selected_category %}
      <p class="text-muted">
        Category:
        <span class="fw-bold">{{ selected_category.name }}</span>
      </p>
    {% endif %}

  </div>

  <!-- ================= BOOKS GRID ================= -->
  <div class="row gx-3 gy-5">

    {% for book in books %}
      <div class="col-lg-3 col-md-4 col-sm-6 d-flex">

        {% include 'books/book_card.html' with book=book %}

      </div>
    {% empty %}

      <div class="col-12 text-center text-danger">
        <i class="bi bi-x-circle-fill fs-3"></i>No books found
      </div>

    {% endfor %}

  </div>

</div>

{% endblock %}