<a href="{% url 'books:book_detail' book.id %}" class="text-decoration-none text-dark">

  <div class="card book-card text-center w-100 h-100 shadow-sm">

    <!-- IMAGE -->
    {% if book.cover %}
      <img src="{{ book.cover }}"
           class="card-img-top book-img">
    {% endif %}

    <div class="card-body py-3">

      <!-- RATING -->
      <div class="mb-2">
        {% include 'books/star_display.html' with rating=book.average_rating show_avg=True %}
      </div>

      <!-- TITLE -->
      <h6 class="mb-1 fw-semibold">{{ book.title }}</h6>

      <!-- AUTHOR -->
      <p class="text-muted mb-1">{{ book.author }}</p>

      <!-- PRICE -->
      <p class="text-primary fw-bold fs-6">€{{ book.price }}</p>

    </div>

  </div>

</a>