{% extends 'books/layout.html' %}

{% block body %}

<!-- 📚 NEW BOOKS -->
<div class="section-bg blue-bg ">
  <div class="container py-5">

    <h2 class="mb-4">Recently Added</h2>

    <div class="d-flex overflow-auto">
      {% for book in new_books %}
        {% include 'books/book_card.html' %}
      {% endfor %}
    </div>

  </div>
</div>


<!-- BEST SELLERS -->
<div class="section-bg white-bg">
  <div class="container py-5">

    <h2 class="mb-4">Best Sellers</h2>

    <div class="d-flex overflow-auto">
      {% for book in best_sellers %}
        {% include 'books/book_card.html' %}
      {% endfor %}
    </div>

  </div>
</div>


<!-- TRENDING -->
<div class="section-bg blue-bg">
  <div class="container py-5">

    <h2 class="mb-4">Trending</h2>

    <div class="d-flex overflow-auto">
      {% for book in trending %}
        {% include 'books/book_card.html' %}
      {% endfor %}
    </div>

  </div>
</div>

{% endblock %}