{% extends 'books/layout.html' %}

{% block body %}

<!-- NEW BOOKS -->
<div class="section-bg blue-bg">
  <div class="container py-5">

    <h2 class="mb-4">Recently Added</h2>

    <div class="book-scroll">

      {% for book in new_books %}
        <div class="book-scroll-item">
          {% include 'books/book_card.html' %}
        </div>
      {% endfor %}

    </div>

  </div>
</div>


<!-- BEST SELLERS -->
<div class="section-bg white-bg">
  <div class="container py-5">

    <h2 class="mb-4">Best Sellers</h2>

    <div class="book-scroll">

      {% for book in best_sellers %}
        <div class="book-scroll-item">
          {% include 'books/book_card.html' %}
        </div>
      {% endfor %}

    </div>

  </div>
</div>


<!-- TRENDING -->
<div class="section-bg blue-bg">
  <div class="container py-5">

    <h2 class="mb-4">Trending</h2>

    <div class="book-scroll">

      {% for book in trending %}
        <div class="book-scroll-item">
          {% include 'books/book_card.html' %}
        </div>
      {% endfor %}

    </div>

  </div>
</div>

{% endblock %}